.form_f75fb0 {padding: 0;}
.form_f75fb0 > div:first-of-type {
  margin: 1.1rem 0 0 0;
  border-radius: 0;
}
.scrollableContainer__74017 {border-radius: 0}
.base_b88801 {
  top: 0;
  bottom: unset;
}
.scrollableContainer__74017 {min-height: 52px}
.typing_b88801 {
  margin-top: -5px!important;
  margin-left: -16px;
  width: fit-content;
  padding-right: 5px;
  border-top-right-radius: 5px;
  background: var(--background-secondary);
}