/*Small channel list*/
.sidebar_c48ade {
  transition: 0.3s ease-in-out;
  width: 55px;
}
.sidebar_c48ade:has(.privateChannelsHeaderContainer__99e7c){
  width: 65px;
}
.sidebar_c48ade:has(.privateChannelsHeaderContainer__99e7c) .privateChannelsHeaderContainer__99e7c{
  opacity: 0;
  margin-top: -40px;
}
.sidebar_c48ade:has(.privateChannelsHeaderContainer__99e7c):not(:hover) .favoriteIcon__972a0{
  display: none;
}
.sidebar_c48ade .activityPanel_c48ade .actions_bf1a22{
  opacity: 0;
}
.sidebar_c48ade .activityPanel_c48ade .gameIcon_b52e4f,
.sidebar_c48ade .container__37e49 .avatar__37e49{
  scale: 1.3;
  margin-left: 3px;
}
.sidebar_c48ade:has(.privateChannelsHeaderContainer__99e7c) .activityPanel_c48ade .gameIcon_b52e4f,
.sidebar_c48ade:has(.privateChannelsHeaderContainer__99e7c) .container__37e49 .avatar__37e49{
  scale: 1.3;
  margin-left: 8px;
}
.sidebar_c48ade *{
  transition: ease-in-out 0.3s;
}
.sidebar_c48ade .scroller__629e4{
  transition: 0.3s ease-in-out;
  margin-top: -100px;
}
.sidebar_c48ade .containerDefault__29444 {
  transition: 0.3s ease-in-out;
  opacity: 0;
  margin-top: -40px;
}
.sidebar_c48ade .container_eff079{
  transition: 0.3s ease-in-out;
  height: 0;
  opacity: 0;
  margin-top: -25px;
}
.sidebar_c48ade .animatedContainer_f37cb1 {
  transition: 0.3s ease-in-out;
  opacity: 0!important;
}
.sidebar_c48ade:not(:hover) .headerContent_f37cb1 {
  margin-left: 5px
}
.sidebar_c48ade:not(:hover) .header_f37cb1 .headerChildren_f37cb1{
  display: none;
} 
.sidebar_c48ade:not(:hover) .dots__5ad89 {
  display: none;
}
.sidebar_c48ade:not(:hover) .containerDefault_c69b6d .iconContainer__2ea32 {
  margin-left: 0px
}
.sidebar_c48ade:not(:hover) .containerDefault_c69b6d {
  margin-left: 5px;
  margin-right: 5px;
}
.sidebar_c48ade:not(:hover) .header_f37cb1{
  background-color: var(--background-secondary);
  border-bottom: 1px solid var(--background-tertiary);
}
.sidebar_c48ade:not(:hover) .name__2ea32, .sidebar_c48ade:not(:hover) .nameTag__37e49 {
  opacity: 0;
}
.sidebar_c48ade .voiceUser__07f91 {
  margin-left: -30px;
}
.sidebar_c48ade .containerDefault_c69b6d:has(.statusDiv__5cda9) .linkBottom__2ea32{
  opacity: 0;
  margin-top: -15px;
}
.sidebar_c48ade:not(:hover) .container_e131a9 .actionButtons_e131a9, .sidebar_c48ade:not(:hover) .container_e131a9 .button__67645 {
  width: 0;
  height: 0;
  opacity: 0;
}
.sidebar_c48ade:not(:hover) .container_e131a9 [href^="/channels/"]{
  display: none;
}
.sidebar_c48ade:not(:hover) .container_e131a9 .ping_c0cb95{
  scale: 1.3;
  margin-top: 2px;
  margin-left: 13px;
}
.sidebar_c48ade:not(:hover) .channelInfo_c69b6d, .sidebar_c48ade:not(:hover) .children__2ea32{
  display: none;
}
.sidebar_c48ade .iconContainer__2ea32{
  transition: 0.3s ease-in-out;
  margin-right: -2px;
}
.sidebar_c48ade:hover .iconContainer__2ea32{
  margin-right: 5px;
}
.sidebar_c48ade:hover .scroller__629e4{
  margin-top: 0px;
}
.sidebar_c48ade:hover .animatedContainer_f37cb1 {
  opacity: 1!important;
}
 .sidebar_c48ade:hover .containerDefault__29444 {
  height: unset!important;
  opacity: unset!important;
  margin-top: unset;
}
.sidebar_c48ade:hover .container_eff079{
  height: unset;
  opacity: 1;
  margin-top: 0;
}
.sidebar_c48ade:hover .voiceUser__07f91 {
  margin-left: 0;
}
.sidebar_c48ade:hover .containerDefault_c69b6d:has(.statusDiv__5cda9) .linkBottom__2ea32{
  opacity: 1;
  margin-top: unset;
}
.sidebar_c48ade:hover .activityPanel_c48ade .actions_bf1a22{
  opacity: 1;
}
.sidebar_c48ade:hover .activityPanel_c48ade .gameIcon_b52e4f,
.sidebar_c48ade:hover .container__37e49 .avatar__37e49{
  scale: unset;
  margin-left: unset;
}
.sidebar_c48ade:hover{
  width: 250px!important;
}


/*Settings Icon Hotfix!!*/
.sidebar_c48ade:not(:hover) .container__37e49 .flex__7c0ba {display: none}
