/*Small Member list*/
.container_b2ce9c {
  transition: 0.3s ease-in-out;
  margin-right: -180px;
}
.container_b2ce9c .membersGroup__85843 {
  transition: 0.3s ease-in-out;
  height: 0px!important;
  margin-top: -25px;
}
.container_b2ce9c:hover .membersGroup__85843 {
  height: unset!important;
  margin-top: unset!important;
}
.container_b2ce9c:hover{
  margin-right: unset!important;
}
