/*Small Member list*/
.container_c8ffbb {
  transition: 0.3s ease-in-out;
  margin-right: -180px;
}
.container_c8ffbb .membersGroup_c8ffbb {
  transition: 0.3s ease-in-out;
  height: 0px!important;
  margin-top: -25px;
}
.container_c8ffbb:hover .membersGroup_c8ffbb {
  height: unset!important;
  margin-top: unset!important;
}
.container_c8ffbb:hover{
  margin-right: unset!important;
}
