/*Small Member list*/
.container_f79ab4 {
  transition: 0.3s ease-in-out;
  margin-right: -180px;
}
.container_f79ab4 .membersGroup_cad095 {
  transition: 0.3s ease-in-out;
  height: 0px!important;
  margin-top: -25px;
}
.container_f79ab4:hover .membersGroup_cad095 {
  height: unset!important;
  margin-top: unset!important;
}
.container_f79ab4:hover{
  margin-right: unset!important;
}
