/* Prettier Search bar */
.iconContainer__9f124, .icon__5c8c7 { /* Make the Search icon match the styling of the other icons.*/
  width: 21px;
  height: 21px;
  color: var(--interactive-normal);
  transition: ease-in-out .3s;
}

.searchBar__5a20a { /*Fully Hide the search bar*/
  width: 21px;
  height: 24px;
  padding: 0;
  background: none;
  transition: ease-in-out 0.3s!important;
}

.searchBar__5a20a:hover .iconContainer__9f124,
.searchBar__5a20a:hover .icon__5c8c7,
.focused__037a4 .icon__5c8c7,
.focused__037a4 .iconContainer__9f124 { /*Hide Search Icon on hover*/
  opacity: 0;
  width: 0;
  height: 0;
}
.searchBar__5a20a:hover,
.focused__037a4 .searchBar__5a20a, .open_d3ab4e .searchBar__5a20a  { /*Reveal Search Bar on Hover*/
  width: 175px;
  background: var(--background-tertiary);
  border: 1px solid var(--button-outline-primary-border-hover);
}