/* Right-Side Attach Button */
.channelTextArea_f75fb0 {
  .emojiButton__74017  {
    margin-right: 45px
  }
  .attachWrapper__0923f {
    position:fixed;
    transition: all ease 0.15s;
    right: 0;
    z-index: 20; /* The Emoji Button Likes to Make the Attach Button impossible to click by being over it.
                    This makes it not do that. Might be a Z-index or two too many though. */
    &:hover {
      scale: 1.3;
      translate: 2px;
      filter: drop-shadow(0 0 2px currentColor);
    }
  }
  :has(.sendIcon_aa63ab) { /* ONLY MOVE THE BUTTON BY 50PX IF THE SEND BUTTON IS PRESENT */
     /* There is probably a more optimal way to do this tbh. But this works so its fine. */
    .attachWrapper__0923f {
      position: fixed;
      transition: all ease 0.15s;
      right: 50px;
      z-index: 20; /* The Emoji Button Likes to Make the Attach Button impossible to click by being over it.
                      This makes it not do that. Might be a Z-index or two too many though. */
      &:hover {
        scale: 1.3;
        translate: 2px;
        filter: drop-shadow(0 0 2px currentColor);
      }
    }
  }
}
